h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: skyblue;
    padding: 15px 0 15px 0;
    
}

form {
    margin-bottom: 10px;
    margin-left: 10px;
}
.current-weather {
    font-size: 24px;
    margin-left: 10px;
}

.current {
    padding-left: 98px;
    margin-right: 79%;
    font-size: 22px;
}

.col {
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 18px;
}

.card {
    background-color: deepskyblue;
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: 2em;
}

.card1 {
    background-color: deepskyblue;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 70px;
    border-radius: 2em;
}